{% extends layout %}
{% block title %}Contact Us - {% endblock %}
{% block menu %}contact{% endblock %}
{% block content %}
<div class="lines-blue-bottom-header"></div>
<div class="outers-middle-contents prelatife">
	<div class="ill-tops-pageinside">
		<img src="{{ app.request.baseurl }}/asset/images/back-top-ill-insidepage.jpg" alt="" class="img-responsive">
	</div>

	<section class="middle-content-inside back-white">
		<div class="prelatife container">
			<div class="clear height-50"></div><div class="height-20"></div>
			<div class="content-text text-center">
				<div class="mw700 text-center tengah">
					<h1 class="title-pages">Contact Us</h1> <div class="clear"></div> <div class="clear height-50"></div>
					<h2>We&rsquo;re here to assist all your need for <br>
						container depot, please contact us for your <br>
						appointment with Askon.</h2>
					<div class="clear height-40"></div>

					<div class="contacts_address">
						<address>
							<b>SEMARANG</b> <br>
							Kawasan Industri Cipta Guna Blok 9. <br>
							Jl. Arteri Yos Sudarso, Semarang - 50174. Middle Java - Indonesia <br>
							Phone <a href="tel:+622476588117">(+6224) 76588117</a> <br>
							Email. <a href="mailto:helpdesk@askon.co.id">helpdesk@askon.co.id</a>
						</address>	
					</div>

					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear height-50"></div><div class="height-20"></div>

			<div class="clear"></div>
		</div>
		<section class="about4 back-bluescontact">
			<div class="prelatife container content-text">
				<div class="text-center tengah">
					<a href="#">
					<img src="{{ app.request.baseurl }}/asset/images/ls-icons-mapcontact.png" alt="" class="img-responsive pc-center"></a>
				</div>
				<div class="clear height-10"></div>
				<div class="text-mapslocation text-center">
					<a href="#">View Askon location Map</a>
				</div>

				<div class="clear"></div>
			</div>
		</section>

		{# <section class="about-2">
			<div class="titles text-center">You&rsquo;ll know our value &amp; quality when working with Askon</div>
			<div class="clear height-45"></div>
			<div class="full-banners-about2">
				<div class="row">
					<div class="col-md-4">
						<img src="{{ app.request.baseurl }}/asset/images/banner-b1.jpg" alt="" class="img-responsive">
						<div class="clear height-45"></div><div class="height-2"></div>
						<div class="descs">
							<div class="titles">INNOVATIVE</div> <div class="clear height-20"></div>
							<p>With THE BEST (The Huge Eagerness to Bring Excellent Solution and Trustworthiness) service, ASKON assure all customers to enjoy their highest level of satisfaction with INNOVATIVE, COMMUNICATIVE, and ACCELERATED SERVICE. </p>
						</div>
					</div>
					<div class="col-md-4">
						<img src="{{ app.request.baseurl }}/asset/images/banner-b2.jpg" alt="" class="img-responsive">
						<div class="clear height-45"></div><div class="height-2"></div>
						<div class="descs">
							<div class="titles">COMMUNICATIVE </div> <div class="clear height-20"></div>
							<p>Simply put, we deliver results. It&rsquo;s our job to solve our clients&rsquo; problems. We&rsquo;re curious about your business, customers, and design challenges. At Lifted Logic, we take on a small number of new projects each year so we can focus on long term solutions and relationships.</p>
						</div>
					</div>
					<div class="col-md-4">
						<img src="{{ app.request.baseurl }}/asset/images/banner-b1.jpg" alt="" class="img-responsive">
						<div class="clear height-45"></div><div class="height-2"></div>
						<div class="descs">
							<div class="titles">ACCELERATED</div> <div class="clear height-20"></div>
							<p>We create things – experiences, feelings, engagements – that elevate brands. Using traditional and new media, we can communicate your message to drive sales, reach goals, and increase your bottom line.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="clear height-50"></div> <div class="clear height-50"></div><div class="height-25"></div>
			<div class="clear"></div>
		</section>
		<section class="about3 back-blues">
			<div class="prelatife container">
				<div class="cont-vision-mission content-text">
					<div class="row">
						<div class="col-md-6">
							<h4 class="visi-misi">Vision</h4> <div class="clear height-15"></div>
							<p class="visison">With THE BEST (The Huge Eagerness to Bring Excellent Solution and Trustworthiness) service, ASKON assure all customers to enjoy their highest level of satisfaction with INNOVATIVE, COMMUNICATIVE, and ACCELERATED SERVICE. </p>
						</div>
						<div class="col-md-6">
							<h4 class="visi-misi">Mission</h4> <div class="clear height-15"></div>
							<p>With THE BEST (The Huge Eagerness to Bring Excellent Solution and Trustworthiness) service</p>

							<p>ASKON assure all customers to enjoy their highest level of satisfaction with INNOVATIVE, COMMUNICATIVE, and ACCELERATED SERVICE.</p>

							<p>The Huge Eagerness to Bring Excellent Solution and Trustworthiness</p>

						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</section>
		<section class="about4 back-greys">
			<div class="prelatife container content-text">
				<div class="titles text-center">Askon&rsquo;s Commitment</div>
				<div class="clear height-50"></div>
					<h2 class="text-center">Container Depot that brings you<br>
						<b>Excellent solution</b> and <b>Thrustworthiness</b> <br>
						Container Depot that brings you
					</h2>

				<div class="clear"></div>
			</div>
		</section> #}

		<div class="clear"></div>
	</section>

	<div class="clear"></div>
</div>
{% endblock %}