{% extends layout %}
{% block title %}Products - {% endblock %}
{% block menu %}product{% endblock %}
{% block content %}
<section class="hero clearfix section--video">
	<a class="hero__trigger" href="#content">Scroll Down</a>
	<div class="hero__media hero__media--video" data-layzr="{{ app.request.baseurl }}/uploads/product-hero.jpg" data-layzr-bg>
		<div class="hero__media-cover"></div>
	</div>
</section>

<section class="section section--intro align-center clearfix section-homebwhitebl insides-pabout-inner">
	<div class="wrapper">
		<div class="clear height-15"></div>
		<div class="row">
			<div class="span11 center-block">
				<div class="intro__block span9 center-block animate">
					<div class="content-text">
						<h1 class="child-title-p">PRODUCTS</h1>
					</div>
					<div class="clear"></div>
					<div class="visible-lg visible-md">
						<h2 class="title">
							Expect only the best from <br>
							Gianni Furniture
					</h2>
					</div>
					<div class="visible-xs visible-sm">
						<h2 class="title">
							Expect only the best from <br>
							Gianni Furniture
						</h2>
					</div>
					<div class="clear"></div>
				</div>

				<div class="clear"></div>
			</div>
		</div>

		<div class="listing-lproduct-list">
				<div class="row default">
					{% if DataProducts %}
						{% for item2 in DataProducts %}
						{% for item in item2 %}
							<div class="col-md-6">
								<div class="items">
									<div class="pict">
										{% if item.folder == 'custom-kitchen2' %}
											<ul id="light-gallery" class="gallery light-gallery" style="list-style:none;margin:0px; padding:0;">
												{% for key, it_child in item.images %}
												<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ it_child.image }}" data-sub-html="Gianni Furniture Surabaya - {{ it_child.title }}">
													{% if key == 0 %}
										        	<a class="default-image" href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ it_child.image }}">
										        		<img src="{{ app.request.baseurl }}/asset/images/{{ item.thumb }}" alt="" class="img-responsive">
										            </a>
										            {% endif %}
										        </li>
												{% endfor %}
									    	</ul>
										{% else %}
											<ul id="light-gallery" class="gallery light-gallery" style="list-style:none;margin:0px; padding:0;">
												{% for key, it_child in item.images %}
												<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ it_child }}" data-sub-html="Gianni Furniture Surabaya - {{ item.name|title }}">
													{% if key == 0 %}
										        	<a class="default-image" href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ it_child }}">
										        		<img src="{{ app.request.baseurl }}/asset/images/{{ item.thumb }}" alt="" class="img-responsive">
										            </a>
										            {% endif %}
										        </li>
												{% endfor %}
									    	</ul>
									    {% endif %}
									</div>
									<div class="clear height-30"></div>
									<div class="desc">
										<h5 class="titles">{{ item.name }}</h3>
										<div class="clear"></div>
										{{ item.desc|raw }}
										<div class="clear"></div>
										{% if item.folder == 'custom-kitchen2' %}
											<ul id="light-gallery" class="gallery light-gallery" style="list-style:none;margin:0px; padding:0;">
											{% for key, it_child in item.images %}
												<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ it_child.image }}" data-sub-html="Gianni Furniture Surabaya - {{ it_child.title }}">
													{% if key == 0 %}
										        	<a class="view-imges" href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ it_child.image }}">
										        		VIEW IMAGES
										            </a>
										            {% endif %}
										        </li>
												{% endfor %}
									    	</ul>
										{% else %}
										<ul id="light-gallery" class="gallery light-gallery" style="list-style:none;margin:0px; padding:0;">
											{% for key, it_child in item.images %}
											<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ it_child }}" data-sub-html="Gianni Furniture Surabaya - {{ item.name|title }}">
												{% if key == 0 %}
									        	<a class="view-imges" href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ it_child }}">
									        		VIEW IMAGES
									            </a>
									            {% endif %}
									        </li>
											{% endfor %}
								    	</ul>
										{% endif %}

										<div class="clear"></div>
									</div>
								</div>
							</div>
						{% endfor %}
							<div class="clear height-50"></div>
						{% endfor %}
					{% endif %}
				</div>
		</div>
	</div>
</section>
<section class="section clearfix cont-bottom-home-lih">
	<div class="wrapper">
		<div class="row default text-center">
			<div class="col-md-12">
				<div class="clear height-10"></div>
					<div class="text-center">
						<p>Contact Gianni Furniture&rsquo;s consultant regarding your appointment for a<br />tour to our showroom.</p>
						<p class="mb-0"><strong>+62 31 732 5566</strong><br />
							or <a href="{{ url('contactus') }}">click here</a> to contact us</p>
					</div>
					<div class="clear"></div>
			</div>
		</div>
	</div>
</section>
<div class="clear"></div>
<style type="text/css">
	a.default-image{}
	a.default-image:hover > img{
		opacity: 0.9; text-decoration: none;
	}
</style>
{% endblock %}